<div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Seleccione cuentas a pagar (check)</h5>
                    <div class="table-responsive">
                            <table class="table">
                                <thead class="bg-primary text-white">
                                    <tr>
                                        <th>Referencia</th>
                                        <th>Nro Cuota</th>
                                        <th>Monto</th>
                                        <th>Fecha Vencimiento</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let d of cuentaspendientes; let i = index">
                                        <td>{{ d.referencia }}</td>
                                        <td>{{ d.cuotan }}</td>
                                        <td>{{ d.monto | currency:'PYG':'symbol-narrow':'4.0-0' }}</td>
                                        <td>{{ d.vencimiento }}</td>
                                        <td class="text-center">
                                            <input type="checkbox" [(ngModel)]="cuentaspendientes[i].marcado" name="mark{{i}}" (change)="marcaritem(i)">                                                 
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="text-right">
                                <h3><b>Total: {{ this.total | currency:'PYG':'symbol-narrow':'4.0-0' }}</b></h3>
                        </div>
                    <hr>
                    <h5 class="card-title">Elige metodo de pago</h5>
                    <ngb-tabset>
                      <ngb-tab>
                        <ng-template ngbTabTitle>
                            <span class="visible-xs">
                                <i class="ti-home"></i>
                            </span>
                            <span class="hidden-xs"> Tarjeta de Debito / Credito</span>       
                        </ng-template>
                        <ng-template ngbTabContent>
                          <div class="row">
                            <div class="col-md-7">
                                <form>
                                    <div class="form-group input-group m-t-40">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fab fa-cc-visa"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Numero de la Tarjeta" aria-label="Amount (to the nearest dollar)">
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-7 col-md-7">
                                            <div class="form-group">
                                                <label>Fecha de Expiracion</label>
                                                <input type="text" class="form-control" name="Expiry" placeholder="MM / YY" required=""> </div>
                                        </div>
                                        <div class="col-xs-5 col-md-5 pull-right">
                                            <div class="form-group">
                                                <label>CVC</label>
                                                <input type="text" class="form-control" name="CVC" placeholder="CVC" required=""> </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Titular de la tarjeta</label>
                                                <input type="text" class="form-control" name="nameCard" placeholder="Nombre y Apellido"> </div>
                                        </div>
                                    </div>
                                    <button (click)="procesarpago()" class="btn btn-info">Procesar pago</button>
                                </form>
                            </div>
                            <div class="col-md-4 ml-auto">
                                <h4 class="card-title m-t-30">Informacion general</h4>
                                <h2>
                                    <i class="fab fa-cc-visa text-info m-r-5"></i>
                                    <i class="fab fa-cc-mastercard text-danger m-r-5"></i>
                                    <i class="fab fa-cc-discover text-success m-r-5"></i>
                                    <i class="fab fa-cc-amex text-warning"></i>
                                </h2>
                                <p>Tarjetas de credito aceptadas, VISA, MASTERCARD, AMERICAN EXPRESS</p>
                                <p>Los datos de su pago estan protegidos y encriptados para su seguridad. </p>
                            </div>
                        </div>
                        </ng-template>
                      </ngb-tab>
                      <ngb-tab>
                        <ng-template ngbTabTitle>
                            <span class="visible-xs">
                                <i class="ti-user"></i>
                            </span>
                            <span class="hidden-xs">Paypal</span>
                        </ng-template>
                      </ngb-tab>
                     </ngb-tabset>
                </div>
            </div>
        </div>
    </div>