<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Cuotas Pendientes</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="bg-primary text-white">
                            <tr>
                                <th>Referencia</th>
                                <th>Nro Cuota</th>
                                <th>Monto</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Compra Vehiculo</td>
                                <td>1</td>
                                <td>1.500.000 GS</td>
                                <td class="text-center">
                                    <a ngbPopover="Pagar Cuota" triggers="mouseenter:mouseleave"
                                        class="ng2-smart-action ng2-smart-action-edit-edit" href=""><i
                                            class="ti-wallet text-info m-r-10"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Compra Vehiculo</td>
                                <td>2</td>
                                <td>1.500.000 GS</td>
                                <td class="text-center">
                                    <a ngbPopover="Pagar Cuota" triggers="mouseenter:mouseleave"
                                        class="ng2-smart-action ng2-smart-action-edit-edit" href=""><i
                                            class="ti-wallet text-info m-r-10"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Compra Vehiculo</td>
                                <td>3</td>
                                <td>1.500.000 GS</td>
                                <td class="text-center">
                                    <a ngbPopover="Pagar Cuota" triggers="mouseenter:mouseleave"
                                        class="ng2-smart-action ng2-smart-action-edit-edit" href=""><i
                                            class="ti-wallet text-info m-r-10"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Historial de ingresos al taller</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th>Vehiculo</th>
                                    <th>Motivo</th>
                                    <th>Total</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Toyota IST</td>
                                    <td>Mantenimiento General</td>
                                    <td>1.500.000 GS</td>
                                    <td class="text-center">
                                        <a ngbPopover="Ver Detalles" triggers="mouseenter:mouseleave"
                                            class="ng2-smart-action ng2-smart-action-edit-edit" href=""><i
                                                class="ti-eye text-info m-r-10"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>    