<div class="col-lg-12 row">


        <div class="col-lg-6">
                <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Preguntas Frecuentes</h3>
                            <h6 class="card-subtitle">Respondemos tus dudas, ante cualquier pregunta no encontrada, no dudes en escribirnos!</h6>
                            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                              <ngb-panel title="Como Puedo pagar una cuota?">
                                <ng-template ngbPanelContent>
                                  Para pagar una cuota puedes dirigirte a la Seccion "Pagos" dentro de tu panel administrativo, y seleccionar
                                  las cuotas que deseas pagar, luego rellena tus datos de pago y listo!!
                                </ng-template>
                              </ngb-panel>
                              <ngb-panel>
                                <ng-template ngbPanelTitle>
                                  <span>Como agendar una entrada de taller?</span>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                  Dirigete a la seccion de "Taller", Y completa el formulario con tus datos, te enviaremos un correo con un codigo de agendamiento
                                </ng-template>
                              </ngb-panel>

                            </ngb-accordion>
                                  
                        </div>
                    </div>
    
        </div>

    <div class="col-lg-6">

        
            <div class="detailBox">
                    <div class="titleBox">
                      <label>Chat</label>
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                    </div>
                    <div class="commentBox">
                        
                        <p class="taskDescription">Escribenos! se pondra en contacto contigo un representante</p>
                    </div>
                    <div class="actionBox">
                        <ul class="commentList">

                            <li>
                                <div class="commenterImage">
                                  <img src="http://placekitten.com/40/40" />
                                </div>
                                <div class="commentText">
                                    <p class="">Hola</p> <span class="date sub-text">06/10/2019</span>
                
                                </div>
                            </li>
                        </ul>
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Escribe..." />
                            </div>
                            <div class="form-group">
                                <button class="btn btn-default">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>







                
    </div>

</div>
